.vendor-items-wrapper {
  margin-top: 10px;
  text-align: left;
}

.food-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.food-item:last-child {
  border-bottom: none;
}

.item-name {
  flex: 2;
  font-weight: bold;
}

.item-details {
  flex: 1;
  text-align: center;
}

.item-quantity,
.item-pickup-time {
  font-size: 14px;
  color: #666;
}

.pickup-time {
  font-style: italic;
}

.claim-button-container {
  flex: 1;
  text-align: center;
}

.food-item-info {
  text-align: left;
  flex: 2;
}

.food-items-list {
  padding: 10px 15px;
}
.food-name {
  font-weight: bold;
  font-size: 17px;
}

