/* General Navbar Styling */
#navbar {
  background-color: #f9f9f9;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

#logo {
  width: 70px;
  height: auto;
  cursor: pointer;
}

#nav-link2s {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  max-width: calc(100% - 140px);
  overflow: hidden;
}

.nav-link2 {
  font-size: 18px;
  font-weight: 600;
  color: #272e48;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 10px 0;
}

.nav-link2:hover {
  color: #33443c;
}









@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


