.client-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  font-family: "Montserrat", sans-serif;
}

.client-profile-card {
  background-color: #d1d0d0;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 60%;
  max-width: 700px;
  text-align: center;
  margin-bottom: 40px;
}

.profile-picture-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.client-profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.client-profile-name {
  font-size: 24px;
  font-weight: bold;
  color: #272e48;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.client-contact-container {
  margin-bottom: 25px;
}

.client-contact-container h3 {
  font-size: 20px;
  font-weight: bold;
  color: #5c4e4e;
  margin-bottom: 10px;
}

.client-contact-container p {
  font-size: 16px;
  font-weight: bold;
  color: #272e48;
  line-height: 1.6;
}

.client-contact-container span {
  display: block;
}

.client-favorites-wrapper {
  width: 90%;
  margin-top: 20px;
}

.client-favorites-header {
  font-size: 24px;
  font-weight: bold;
  color: #272e48;
  text-align: center;
  margin-bottom: 20px;
}

.client-favorites-container {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

.client-favorites-header-row {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  color: #5c4e4e;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.client-favorites-header-row h4 {
  flex: 1;
  text-align: center;
}
