.donate-page-container {
  margin: 20px;
  padding: 20px;
}

.foodItemsContainer {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: visible;
}

.food-items-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #5C4E4E;
}

.vendor-profile-container-vendor-version {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: stretch;
  border-bottom: 1px solid #ddd;
  background-color: white;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
}

.vendor-profile-container-vendor-version:hover {
  background-color: #f4f4f4;
  transition: background-color 0.2s ease-in-out;
}

.claimed-vendor-items-two {
  display: flex;
  flex-wrap: wrap; /* Ensure items wrap when the screen is smaller */
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.vendor-page-item-name,
.vendor-page-item-Kilograms,
.vendor-page-item-quantity,
.vendor-page-pickup-time,
.vendor-page-item-status {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.vendor-page-item-status {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.status-claim-pending {
  color: #a2dd55;
}

.status-pickup-pending {
  color: #e9862a;
}

.status-pickup-confirmed {
  color: #4caf50;
}

.delete-item-container {
  width: 15%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-item-button {
  background-color: #5C4E4E;
  color: #D1D0D0;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.3s ease;
}

.delete-item-button:hover {
  background-color: #4b3e3e;
}

.vendor-pickup-code {
  font-size: 14px;
  font-weight: bold;
  color: #5C4E4E;
  margin-top: 5px;
  text-align: center;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.details-button {
  background-color: #5c4e4e;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.details-button:hover {
  background-color: #988686;
}

.no-items-message {
  color: #5C4E4E;
  font-size: 1rem;
  font-weight: bold;
  margin: 20px 0;
}
