/* General Layout */
#about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #d1d0d0;
}

#meet-our-team {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 2rem;
}

#about-us-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
}

.team-member {
  width: 30%;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  background-color: #988686;
  border-radius: 8px;
  transition: transform 0.3s;
}

.team-member:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.team-member-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #988686;
  margin-bottom: 1rem;
}

.team-member-name {
  color: #ffffff;
  font-size: 24px;
  margin: 0.5rem 0;
}

.github-icon {
  width: 30px;
  height: 30px;
  margin-top: 1rem;
  filter: invert(1); /* For white icons */
  transition: transform 0.3s;
}

.github-icon:hover {
  transform: scale(1.2);
}
