/* Main container for the claimed items page */
#claimed-items-list-client {
    background-color: #f6eae0;
    border: 2px solid black;
    width: 80%; 
    max-width: 1200px; 
    margin: 0 auto; /* Centers the container */
    margin-top: 100px;
    padding: 20px; 
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 46px;
    font-weight: 900;
  }
  
  /* Container for each vendor section */
  .claimedListContainer {
    margin: 20px auto;
    background-color: #988686;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    display: flex;
  }
  
  /* Styling for vendor name and profile picture */
  .display-vendor-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #988686;
    color: white;
    border-radius: 5px;
  }
  
  /* Other elements such as display-vendor-items, item-name, weight, etc. */
  .display-vendor-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
  }
  

  .vendor-address-field {
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-top: 5px;
  }
  
  .address-text {
    font-style: italic;
  }